@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #19142d;
}

@font-face {
  font-family: "Source Sans 3";
  font-weight: 400;
  src: url("SourceSans3-Regular.ttf");
}

@font-face {
  font-family: "Source Sans 3";
  font-weight: 500;
  src: url("SourceSans3-Medium.ttf");
}

@font-face {
  font-family: "Source Sans 3";
  font-weight: 300;
  src: url("SourceSans3-Light.ttf");
}

@font-face {
  font-family: "Source Sans 3";
  font-weight: 700;
  src: url("SourceSans3-Bold.ttf");
}

p, h1, h2, h3, h4, h5, h6, a {
  font-family: "Source Sans 3", sans-serif !important;
}